/* These colors and fonts were "carefully" selected by Dylan DiGeronimo */
body {
  background-color: #edf4fa;
  font-family: 'SF Mono', 'IBM Plex Mono', monospace; }

.bod {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 500px;
  text-align: center; }

a {
  text-decoration: none;
  color: #858383; }
  a visited {
    color: #858585; }
  a hover {
    text-shadow: 1px 1px 2px #c5c3c3, 0 0 1em powderblue, 0 0 0.2em powderblue; }