/* This site is the work of Dylan DiGeronimo */

// Color variables
$bg: #292B2E;
$text: #B2B2B2;
$header: #BC6EC5;
$subheader: #5E71A7;
$link: #2D9574;
$hover: #A2D39B;
$aside: #2AA1AE;

// Font variables
$mono: 'Roboto Mono', monospace;
$sans: 'Open Sans', sans-serif;

body {
    margin: 3% auto;
    background: $bg;
    color: $text;
    font-family: $sans;
    font-size: 16px;
    line-height: 1.6;
    max-width: 50%; // Reduce this?
}

h1, h2, h3 {
    // font-weight: bold;
    font-family: $sans;
    line-height: 1.3;
    color: $subheader;
}

h1 {
    font-family: $mono;
    color: $header;
}

div {
    padding: 10px;
    border-radius: 25px
}

div.hidden1, .hidden2, .hidden3, .hidden4, .hidden5 {
    display: none
}

a {
    color: $link;
    text-decoration: none;
}

a:hover {
    color: $hover;
}


aside {
    color: $aside;
    font-family: $mono;
    font-style: italic;
}

.tiny {
    font-size: 5px;
    position: static;
    text-align: center;
}

.tiny a {
    color: $bg;
}

footer {
    font-size: 15px;
}

@media all and (max-width: 719px){
    .css-typing {
        font-family: $mono;
        font-weight: bold;
        font-size: 2em;
        line-height: 1.3;
        color: $header;
    }
}


@media all and (min-width: 720px){
    .css-typing {
        font-family: $mono;
        font-weight: bold;
        font-size: 2em;
        line-height: 1.3;
        width: 30em;
        white-space: nowrap;
        overflow: hidden;
        -webkit-animation: type 4s steps(50, end);
        animation: type 4s steps(50, end);
        color: $header;
    }

    @keyframes type{
        from { width: 0; }
    }

    @-webkit-keyframes type{
        from { width: 0; }
    }
}
