/* This site is the work of Dylan DIGeronimo */

body { 
    margin: 5% auto; 
    background: #eee8d5; 
    color: #586e75;
    /* font-family: 'Helvetica', sans-serif; */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px; 
    /* font-weight: bold; */
    line-height: 1.6; 
    max-width: 73%;
}

h1, h2, h3 {
    font-weight: bold;
    line-height: 1.3; 
    color: #2aa198;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    color: #268bd2;
}

div {
    padding: 10px;
    border-radius: 25px
}
  
div.hidden1, .hidden2, .hidden3, .hidden4, .hidden5 {
    display: none
}
  
a {
    color: #b58900; 
    text-decoration: none;
}
  
a:hover {
    color: #cb4b16;
}
  

aside {
    color: #dc322f;
}

@media all and (max-width: 719px){
    .css-typing {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: bold;
        font-size: 2em;
        line-height: 1.3; 
        color: #268bd2;
    }
}


@media all and (min-width: 720px){
    .css-typing {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: bold;
        font-size: 2em;
        line-height: 1.3; 
        width: 30em;
        white-space: nowrap;
        overflow: hidden;
        -webkit-animation: type 3s steps(50, end);
        animation: type 3s steps(50, end);
        color: #268bd2;
    }

    @keyframes type{
        from { width: 0; }
    }

    @-webkit-keyframes type{
        from { width: 0; }
    }
}