/* This site is the work of Dylan DiGeronimo */

// Color variables
$bg:        #1F2430;
$text:      #B2B2B2;
$header:    #DA70D6;
$subheader: #73D0E5;
$link:      #2D9574;
$hover:     #A997DF;
$aside:     #FFB74E;

// Experimental color variables
$seaSerpent:    #59C3c3;
$isabelline:    #EBEBEB;
$fieryRose:     #F45B69;
$cyberGrape:    #63458A;
$darkOrchid:    #9A48D0;

// Font variables
$mono: 'Roboto Mono', monospace;
$sans: 'Open Sans', sans-serif;

body {
    margin: 3% auto;
    background: $bg;
    // background: $isabelline;
    color: $text;
    // color: $cyberGrape;
    font-family: $sans;
    font-size: 16px;
    line-height: 1.6;
    max-width: 75%; // Reduce this?
}

h1, h2, h3 {
    // font-weight: bold;
    font-family: $mono;
    line-height: 1.3;
    color: $subheader;
    // color: $fieryRose;
}

h1 {
    font-family: $mono;
    color: $header;
    // color: $darkOrchid;
}

div {
    padding: 10px;
    border-radius: 25px
}

div.hidden1, .hidden2, .hidden3, .hidden4, .hidden5 {
    display: none
}

a {
    color: $link;
    // color: $seaSerpent;
    text-decoration: none;
}

a:hover {
    color: $hover;
    // color: $fieryRose;
}


aside {
    color: $aside;
    font-family: $mono;
    font-style: italic;
}

.tiny {
    font-size: 5px;
    position: static;
    text-align: center;
}

.tiny a {
    color: $bg;
}

@media all and (max-width: 719px){
    .css-typing {
        font-family: $mono;
        font-weight: bold;
        font-size: 2em;
        line-height: 1.3;
        color: $header;
    }
}


@media all and (min-width: 720px){
    .css-typing {
        font-family: $mono;
        font-weight: bold;
        font-size: 2em;
        line-height: 1.3;
        width: 30em;
        white-space: nowrap;
        overflow: hidden;
        -webkit-animation: type 4s steps(50, end);
        animation: type 4s steps(50, end);
        color: $header;
    }

    @keyframes type{
        from { width: 0; }
    }

    @-webkit-keyframes type{
        from { width: 0; }
    }
}
