/* This site is the work of Dylan DiGeronimo */
body {
  margin: 3% auto;
  font-size: 36px;
  max-width: 75%;
  text-align: center;
}

h1 {
  font-size: 68px;
  line-height: 1.3;
}

div {
  padding: 3px;
  border-radius: 25px;
}

a {
  text-decoration: none;
}

pre {
  font-size: .7vw;
  font-weight: bold;
}

.link-container {
  text-align: center;
}

@media only screen and (max-width: 768px) {
   body {
    font-size: 6vw;
   } 
   h1 {
    font-size: 10vw;
   }
}
