/* A Dylan DiGeronimo Joint */

body {
    background: rgb(254,1,216);
    background: linear-gradient(180deg, rgba(254,1,216,1) 0%, rgba(76,228,255,1) 100%);
    /* background-image: url("city.gif"); */
    color: lime;
    text-align: center;
    font-size: 60px;
}

.top {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;

}

.bottom {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;

}

.center {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    text-align: center;
}
.center img {
    vertical-align: middle;
}